.portfolio-individual-container{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 60vh;
    
    border: 3px;
    border-color: purple;
    border-style: solid;

}


.portfolio-individual-image {
    width: 100%;
    height: 40%;
    
    border: 3px;
    border-color: green;
    border-style: solid;
}
.portfolio-individual-header {
    width: 100%;
    height: 10%;
    
    border: 3px;
    border-color: green;
    border-style: solid;
}
.portfolio-individual-summary {
    width: 100%;
    height: 20%;
    
    border: 3px;
    border-color: green;
    border-style: solid;
}
.portfolio-individual-icons {
    width: 100%;
    height: 15%;
    
    border: 3px;
    border-color: green;
    border-style: solid;
}
.portfolio-individual-actions {
    width: 100%;
    height: 15%;
    
    border: 3px;
    border-color: green;
    border-style: solid;
}
