@import '../../color.scss';


.about {
    min-height: 100vh;
    position: relative;
    margin: 0 0 0 108.08px;
    width: 100vw;
    background-color: $background-color;//css variable.
    position: relative;



}
.getInTouch{
    background-color: $background-color;
    border: 3px;
    border-style: solid;
    border-color: $heading-text-colors;
    border-radius: 5px;
    color: $the-dot-docoration-color;

    font-family: "inter";
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5%;

    transition-duration: 0.4s;
}

.aboutContainer {
    display: flex;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: $heading-text-colors;
    
}

.main__container {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.main__content {
    margin-left: 3.445rem;
}
