.about {
    min-height: 100vh;
    position: relative;
    margin: 0 0 0 108.08px;
    width: 100vw;
    background-color: #172A4E;
    position: relative;



}
.getInT{
    margin-left: 15px;
    font-size: var(--fz-xs);

}

.aboutContainer {
    display: flex;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: orangered;
    
}

.main__container {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.main__content {
    margin-left: 3.445rem;
}
