.header {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.navlogo {
    margin-left: 3.445rem;
    color: #DD6031;



}

.navbar {
    margin: 0 auto;
    position: right;

}

ul {
    display: flex;

    li {
        list-style: none;
        margin: 1rem;


        a {
            text-decoration: none;
            text-transform: uppercase;
            color: orangered;

            &:hover {
                border-bottom: 3px solid #DD6031;

            }

        }

    }

}

.menubar {
    display: flex;
    margin-right: 1.555rem;

    .menu {
        cursor: pointer;
        display: none;

    }

}

.closed .closed {
    display: none;

}

.resumeLink{
    width: 100%;
    display: flex;
    align-items: center;
    position: right absolute;
    z-index: 1;

}


@media (max-width:850px) {
    .header {
        justify-content: space-between;
    }

    .navbar {
        display: none;
        transition: 1s ease;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        inset: 0;
        background: rgb(9, 9, 9);
        transition: 14ms ease;
    }


    ul {
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;

        li {
            margin-block: 2rem;

            a {
                font-size: 20px;
                color: rgb(228, 216, 216);
                font-weight: bolder;
            }
        }
    }

    .navbar {
        .menu {
            display: block;
        }
    }

    .closed .close {
        display: block;
    }

    .navbar {
        margin-left: .445rem;
    }
}
