$background-color: #061A40;
$heading-text-colors: #DD6031 ;
$the-dot-docoration-color: #ffff;
$secondary-font-color: #DCDCDC;
$icon-colors: white;
$project-background-color :#172A4E;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

