@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*CONTACT SECTION*/

.contact-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.contact-header {
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 7vw;   
    margin-top: 15vh; 
    margin-bottom: 10%;
}


.contact-main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;

}

/* CONTACT HEADER WORDING*/
.contact-header-wording{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

    color: #DD6031;
}
.contact-header-wording em{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

    color: #ffffff;
}

/*CONTACT MAIN WORDING*/

.contact-main-get-in-touch {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    color: #ffffff;
}
.contact-main-get-in-touch em{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    color: #DD6031;
}
.contact-main-summary{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #DCDCDC;
    margin-left: 15vw;
    margin-right: 15vw;
}

.contact-main-summary em{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #DD6031;
    
}
.contact-main-button {
    background-color: #061A40;
    border: 3px;
    border-style: solid;
    border-color: #DD6031;
    border-radius: 5px;
    color: #ffffff;

    font-family: "inter";
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5%;

    transition-duration: 0.4s;
}

.contact-main-button:hover {
    background-color: #DD6031; 
}
